<div class="container-fluid text-blurb center">
  <p>For booking requests, questions, or any kind of feedback, feel free to reach us at syncopasian@mit.edu.</p>
</div>
<div class="center" id="gigsalad_quote_widget"></div>
<p><script>
var gscqForm;(function(d,t){var s=d.createElement(t),options={'formKey':'rq-WjS0AI%3AVneRmTa6I%3A0A.mkSW%3AvZzk4l','async':true,'height':'600px','width':'500px'};s.src='//www.gigsalad.com/js/quote_widget.min.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{gscqForm=new GsContactForm();gscqForm.initialize(options);gscqForm.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');
</script></p>