<div class="container-fluid text-blurb">
    <div>Hello! We are <span style="color:blue">Syncopasian</span>, MIT's East-Asian a cappella group.</div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
    </div>
    <div>Ignition</div>
    <div>Members</div>
    <div>Who are we?</div>
    <div>Upcoming performances</div>
</div>
