<div class="container-fluid center text-blurb">
  <div class="col-md-4 member-image"><img src="/img/members/carolyn.jpg"></img><br>Carolyn Lu ('18)</div>
  <div class="col-md-4 member-image"><img src="/img/members/Roxy-Wang.jpg"></img><br>Roxy Wang ('15)</div>
  <div class="col-md-4 member-image"><img src="/img/members/dou-150x150.jpg"></img><br>Dou Dou ('17)</div>
  <div class="col-md-4 member-image"><img src="/img/members/jenny.jpg"></img><br>Jenny Liu ('18)</div>
  <div class="col-md-4 member-image"><img src="/img/members/jay.jpg"></img><br>Jay Park ('19)</div>
  <div class="col-md-4 member-image"><img src="/img/members/george_du-150x150.jpg"></img><br>George Du ('16)</div>
  <div class="col-md-4 member-image"><img src="/img/members/jeffrey-150x150.jpg"></img><br>Jeffrey Sun ('16)</div>
  <div class="col-md-4 member-image"><img src="/img/members/michael-150x150.jpg"></img><br>Michael Choi ('17)</div>
  <div class="col-md-4 member-image"><img src="/img/members/rujia-150x150.jpg"></img><br>Rujia Zha ('16)</div>
  <div class="col-md-4 member-image"><img src="/img/members/raymond-150x150.jpg"></img><br>Raymond Liu ('17)</div>
  <div class="col-md-4 member-image"><img src="/img/members/priyanka-150x150.jpg"></img><br>Priyanka Satpute ('17)</div>
  <div class="col-md-4 member-image"><img src="/img/members/thom-150x150.jpg"></img><br>Thomas Lu ('16)</div>
  <div class="col-md-4 member-image"><img src="/img/members/tiffany_wong-150x150.jpg"></img><br>Tiffany Wong ('16)</div>
  <div class="col-md-4 member-image"><img src="/img/members/chiheon-150x150.jpg"></img><br>Chiheon Kim ('17)</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/js/member_modal.js"></script>