<div class="container-fluid center text-blurb">
  <h3>Meet our Synco-babies (newest members)!</h3>
  <table border="0" width="800" cellspacing="10" cellpadding="10">
    <tbody>
      <tr><div class="member-image">
        <td valign="top"><img src="/img/members/alex_chen.jpg"></img></td>
        <td width=25></td>
        <td valign="top"><h4>Alex Chen (2019)</h4>
        <br><b>Hometown</b>: Davis, CA
        <br><b>Major</b>: Course VI (Electrical Engineering and Computer Science)
        <br><b>Vocal Part</b>: Bass
        <blockquote>"Alex is a young person in a busy world who loves simplicity. He enjoys long walks along the esplanade, trying new things, and deep discussions about life and the universe. He loves food too much for his own good, and oscillates between extroverted and introverted very quickly and suddenly. In his free time, Alex will often be found on the tennis court, coding quietly in a corner, or laughing loudly with friends."</blockquote></td>
      </div></tr>
      <tr><div class="member-image">
        <td valign="top"><img src="/img/members/alyssa_chen.jpg"></img></td>
        <td width=25></td>
        <td valign="top"><h4>Alyssa Chen (2019)</h4>
        <br><b>Hometown</b>: Dallas, TX
        <br><b>Major</b>: Course VI-VII (Computer Science and Molecular Biology)
        <br><b>Vocal Part</b>: Mezzo
        <blockquote>"Alyssa is an Asian girl."</blockquote></td>
      </div></tr>
      <tr><div class="member-image">
        <td valign="top"><img src="/img/members/eric_chen.jpg"></img></td>
        <td width=25></td>
        <td valign="top"><h4>Eric Chen (2017)</h4>
        <br><b>Hometown</b>: Des Moines, IA
        <br><b>Major</b>: Course VI (Electrical Engineering and Computer Science)
        <br><b>Vocal Part</b>: Tenor
        <blockquote>"puppies + kittens, taro milk tea, red bean ice cream, kung pao chicken, peanut butter froyo, salmon rushi rolls, jenny liu"</blockquote></td>
      </div></tr>
      <tr><div class="member-image">
        <td valign="top"><img src="/img/members/andy_tsai.jpg"></img></td>
        <td width=25></td>
        <td valign="top"><h4>Andy Tsai (2019)</h4>
        <br><b>Hometown</b>: Walnut, CA
        <br><b>Major</b>: Course X (Chemical Engineering)
        <br><b>Vocal Part</b>: Tenor
        <blockquote>"Andy Tsai is a freshman at MIT interested in chemical and biological engineering, data science, and entrepreneurship. He has been playing the cello for 9 years. In his free time, he enjoys writing covers and mashups of pop songs. He currently sings tenor in Syncopasian."</blockquote></td>
      </div></tr>
      <tr><div class="member-image">
        <td valign="top"><img src="/img/members/nick_wu.jpg"></img></td>
        <td width=25></td>
        <td valign="top"><h4>Nick Wu (2019)</h4>
        <br><b>Hometown</b>: Hershey, PA
        <br><b>Major</b>: Course VI (Electrical Engineering and Computer Science) and Course XVIII (Mathematics)
        <br><b>Vocal Part</b>: Bass
        <blockquote>"Nick did have a rebellious period at the beginning of his vampire life and left Carlisle and Esme in 1927. During his lone time, he used his mind reading ability to attack the worst people of society, thinking that, as long as he was serving justice, it would not matter that he was feeding on humans. His first victim was Esme's abusive ex-husband, Charles Evenson. A few years later, he regretted this decision and returned to Carlisle's family and their diet of animal blood in 1931."</blockquote></td>
      </div></tr>
      <tr><div class="member-image">
        <td valign="top"><img src="/img/members/brian_zhong.jpg"></img></td>
        <td width=25></td>
        <td valign="top"><h4>Brian Zhong (2018)</h4>
        <br><b>Hometown</b>: San Ramon, CA
        <br><b>Major</b>: Course X (Chemical Engineering)
        <br><b>Vocal Part</b>: Baritone
        <blockquote>"I like soccer, coffee-flavored ice cream, and romcoms."</blockquote></td>
      </div></tr>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/js/member_modal.js"></script>