html
  body
    .container-fluid.text-blurb
      //
        Welcome to MIT, Class of 2019!
        <br>
        Here’s your chance to join our family (upperclassmen, transfer students, and graduate students are also welcome)! Information about our audition process for the Fall 2014 cycle is below:
        <ul>
        <li>WHEN: Saturday 8/30 – all day (it only takes ~10 minutes!)</li>
        <li>WHERE: Room 4-156</li>
        <li>SIGN UP:  Sign up for a time slot at the ASA Activities Midway (Friday 8/29 @ Johnson Ice Rink). E-mail <a href="mailto:syncopasian@mit.edu" target="_blank">syncopasian@mit.edu</a> if you cannot make it to the Midway or if you have a time conflict with auditions. We accept walk-ins, but you may have to wait for an open time slot.</li>
        <li>AUDITION PROCESS: Please prepare a verse and chorus from a song of your choice (English or any Asian language is fine). Along with this song, you will be asked to complete a few warm-up techniques and a sight-singing excerpt.</li>
        </ul>
        <br>
        A few words of advice:
        <ul>
        <li>Relax! We don’t bite ^_^</li>
        <li>Pick a song that suits your singing style and shows off what you can do–DON’T pick a song just because you think we’ll like it. If you’re into your song, we will be too!</li>
        <li>“But I don’t speak Chinese/Japanese/Korean?” – speaking an Asian language is definitely NOT a requirement.</li>
        </ul>
        <br>
        Come hear us perform at the ASA Activities Midway, and then introduce yourself to us! We love talking to new people.
      | Thanks for your interest in auditioning for us! We usually don't hold Spring auditions, but please check back for Fall 2016 auditions! :)
      br
      |   If you have an questions, e-mail us at 
      a(href='mailto:syncopasian@mit.edu', target='_blank') syncopasian@mit.edu
      | !
