body {
  font-family: "Roboto", sans-serif;
  padding-top: 65px;
}
.text-blurb {
  width: 85%;
}
.center {
  text-align: center;
}
.member-bio {
  padding-bottom: 100px;
  height: 250px;
  vertical-align: text-top;
}
.member-image img {
  cursor: pointer;
}
div.colL {
    float: left;
    text-align: left;
    width: 30%;
}
div.colR {
    float: left;
    text-align: left;
    width: 70%;
}
h4 {
    font-weight: bold;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
'''
.carousel-caption {
  position: initial;
  text-shadow: none;
  color: #2B4BCA;
}

'''

