body {
  /*font-family: "Quicksand", sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Abel', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Marvel', sans-serif;
  font-family: 'Advent Pro', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 13pt;
  background-color: #73b3ca;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 15pt;
  font-weight: 100;
}

h3 {
  font-size: 14pt;
  font-weight: 100;
}

p {
  font-size: 14pt;
}

.narrow-bar {
  height: 5px;
  background: #5da7c1;
}

.carousel-control {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

#contact-top {
  width: 100%;
  display: flex;
}

#contact-head {
  font-size: 22pt;
  width: 40%;
}

#contact-links {
  padding-top: 3px;
  width: 60%;
}

#contact-content {
  width: 100%;
  display: flex;
}

#contact-text {
  width: 59%;
  margin-right: 6%;
}

#gig_salad {
  width: 35%;
}

#container-fluid {
  padding: 0px;
  margin: 0px;
}

#page {
  background: #FFFFFF;
  margin: auto;
  width: 1000px;
  border: none !important;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20);
  padding-bottom: 50px;
}

.text-blurb {
  padding-top: 20px;
  width: 88%;
  margin: auto;
}

.center {
  text-align: center;
}

.member-bio {
  padding-bottom: 50px;
  vertical-align: text-top;
  width: 100%;
  display: flex;
}

.member-image img {
  cursor: pointer;
}

div.colL {
  text-align: left;
  width: 25%;
}

div.colR {
  text-align: left;
  width: 73%;
  padding-left: 2%;
}

.carousel-control {
  background: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  -webkit-transition: 1s ease-in-out left;
  -moz-transition: 1s ease-in-out left;
  -o-transition: 1s ease-in-out left;
  transition: 1s ease-in-out left;
}

.navbar-header {
  margin: 0;
  padding: 0;
}

.navbar-default {
  border: none !important;
  margin: 0;
  padding: 0;
}

#navbar {
	height: 65px;
}

.my-nav {
	float: right;
	display: flex;
}

.my-nav-btn {
  font-size: 16pt;
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 20px;
  height: 65px;
  margin: 0;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.my-nav a {
	text-decoration: none;
}

.my-nav a:visited {
	text-decoration: none;
}

.my-nav a:active {
	text-decoration: none;
}

.my-nav-btn:hover {
	text-decoration: none;
  background-color: #5da7c1;
  color: white;
}

.navbar-collapse {
  margin: 0px;
  padding: 0px;
}

.collapse {
  margin: 0px;
  padding: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
	z-index: 1;
	cursor: pointer;
}

.dropdown-content a {
  display: block;
  font-size: 16pt;
  text-align: center;
	width: 180px;
  padding-top: 15px;
  height: 50px;
  margin: 0;
  text-decoration: none;
  color: black;
	background-color: white;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.dropdown-content a:hover {
  background-color: #5da7c1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.carousel-indicators {
  bottom: 5px;
}

.flex-caption {
  width: 100%;
  padding: 1%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  background: url("//syncopasian.scripts.mit.edu/wp/wp-content/themes/simplecorp/library/images/caption-bg.png") repeat;
}

.flex-caption>h4 {
  color: white;
  font-weight: 200;
}

td {
  vertical-align: top;
}

.blk {
  vertical-align: middle;
}

#gallery {
  display: flex;
}

#gallery_left {
  width: 30%;
}

#gallery_right {
  text-align: right;
  width: 70%;
}

