<div class="text-blurb">
  <p>We're Syncopasian, MIT's premier East Asian interest a cappella group! Syncopasian comprises a group of fifteen or so students from all walks of life who share a love of singing a cappella. We promote awareness of East Asian pop culture at MIT and the surrounding community through performances of Asian a cappella music.</p> 

  <p>Unlike other a cappella groups on campus, our repertoire includes not only songs in English, but also songs in Mandarin, Cantonese, Japanese, Korean, and other East Asian languages. All of our repertoire is arranged by group members and alumni, so every arrangement you hear us perform is completely original!</p>

  <p>In addition to our concerts at the end of each semester, we perform at a wide variety of events both on and off the MIT campus.</p>

  <hr>
  <h1>History</h1>

  <p style="color: #888888;">// Note from the webmaster: I'll be continuing to expand this section on Synco's history, stay tuned!</p>

  <!-- add photos for that ~ multimedia ~ experience -->

  <p>Syncopasian's history begins in the IAP of 2008 with a group of friends in the <a href="http://ats.mit.edu" target="_blank">Association of Taiwanese Students</a> (ATS). Founder Kenny Yan (MIT '08) had been working on a cappella arrangements of Chinese pop songs and asked some of his friends if they wanted to sing them with him, culminating in a performance at one of ATS's Xifan Sundays in late January.</p>

  <p>Pleased with the experience of singing together and hoping to continue pursuing their interest in East Asian music, the friends decided to found MIT Syncopasian that Spring as an official, UA-recognized a cappella group. Syncopasian's first formal performance came that very same year at ATS's Strait to Taiwan, where they performed the song <cite >Xing Qing</cite> <span lang="zh">(星晴)</span> by Jay Chou.</p>

  <br>
  <!-- embed it in the text when you get a chance -->
  <div class="center">
    <img src="/static/img/founders.jpg" width="100%;" style="max-width: 600px; border: 3px solid var(--syncoblue--xlight);" alt="Syncopasian's founding members"></img>
    <p style="text-align: center; color: #888888;">Our founding group in 2008</p>
  </div>

  <p>About a year later, Syncopasian would host their first concert, <cite>New Kids on the Block</cite>, as a joint concert with the <a href="http://asymptones.mit.edu" target="_blank">MIT Asymptones</a><!-- on May 10, 2009, at 8:00 pm-->. These two newest groups on campus had yet to prepare enough repertoire to put on a solo concert; but together, Syncopasian and the Asymptones hosted a concert that packed room 6-120.</p>
  <!-- 
  <p>
    First music video, Please Tell Me Why / Bu De Bu Ai, was released on February 21, 2010.
  </p>
  -->

  <!-- part on first two album releases -->

  <!-- part on Sing that Thing -->

  <!-- part on Ascension release -->

  <!-- part on the 10th anniversary, add photos -->

  <p>Syncopasian has continued to grow over the years and has come to be one of the most prominent a cappella groups on campus. True to its origins, Synco continues to be a close-knit family of friends committed to spreading their interest in East Asian musical culture.</p>

  <hr>
  <p>As trivia, Syncopasian has official names in other languages:</p>
  <ul>
    <li><p>Chinese: <span lang="zh-Hant">新歌配聲</span> (formerly <span lang="zh-Hant">新歌配生</span>)</p></li>
    <li><p>Japanese: <span lang="ja">シンコペーシャン</span></p></li>
    <li><p>Korean: <span lang="ko">싱코페이샨</span></p></li>
  </ul>
</div>


<script>
  document.getElementById("group-photo-image").src = '/static/img/carousel/website_7.jpg';
</script>
