<div class="text-blurb">
  <p>We’re Syncopasian–MIT’s East Asian a cappella group! Founded in spring 2008, Syncopasian comprises a group of fifteen or so students (both undergraduate and graduate) from all walks of life who share a love of singing a cappella. We promote the awareness of Asian pop culture at MIT and the surrounding community through performances of Asian a cappella music. Unlike that of other a cappella groups on campus, our repertoire includes songs in not only English, but also Mandarin, Cantonese, Japanese, Korean, and other languages that are East Asian in origin. All of our repertoire is arranged by group members and alumni, so every arrangement you hear us perform is completely original!</p>

  <p>In addition to our concerts at the end of each semester, we perform at a wide variety of events both on and off the MIT campus.</p>

  <p>For videos of our performances, check out our <a href="//www.youtube.com/user/MITAsianAcappella">YouTube</a> account!</p>
  <p>To stay up-to-date with Syncopasian news, like our <a href="//www.facebook.com/MITSyncopasian">Facebook</a> page!</p>
</div><br>
<div class="center">
  <img src="/static/img/founders.jpg" width="600"></img>
  <p>Our founding group in 2008</p>
</div>

