<div class="text-blurb">

  <h1>Learn about our Alumni!</h1><br>
    <!-- <div class="member-bio">
      <div class="colL"><img src="/static/img/members/brian_zhong.jpg"></img></div>
      <div class="colR">
        <h4>Brian Zhong (2018): Production Chair, Co-Music Director</h4>
        <b>Hometown</b>: San Ramon, CA
        <br><b>Major</b>: Course X (Chemical Engineering)
        <br><b>Vocal Part</b>: Baritone
        <br>"I like romcoms, soccer, and coffee ice cream."
      </div>
    </div> -->
    <div class="row">
  <div class="col-sm-4"><b>Member</b></div>
  <div class="col-sm-4"><b>Voice Part</b></div>
  <div class="col-sm-4"><b>Graduation Date</b></div>

  <br><br>
<div class="col-sm-4">Kenny Yan</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2008</div>
<div class="col-sm-4">Jessie Wang</div> <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2009</div>
<div class="col-sm-4">Benjamin Chang</div>  <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2010</div>
<div class="col-sm-4">Darren Yin</div>  <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2010</div>
<div class="col-sm-4">Kevin Liu</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2010</div>
<div class="col-sm-4">Chun-Kai Wang</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Fall 2010</div>
<div class="col-sm-4">Fioni Cheung</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Fall 2010</div>
<div class="col-sm-4">Joann Wu</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Fall 2010</div>
<div class="col-sm-4">Adrianna Tam</div>  <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2011</div>
<div class="col-sm-4">Albert Wu</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2011</div>
<div class="col-sm-4">Bev Wang</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2011</div>
<div class="col-sm-4">Brad Wu</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2011</div>
<div class="col-sm-4">Gloria Yang</div> <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2011</div>
<div class="col-sm-4">Rui Du</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2011</div>
<div class="col-sm-4">Wei-Yang Sun</div>  <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2011</div>
<div class="col-sm-4">Diana Hsieh</div> <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Fall 2011</div>
<div class="col-sm-4">Alex Jiang</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Cyril Lan</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Eric Lau</div>  <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Jane Wang</div> <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Lindsey Shi</div> <div class="col-sm-4">Baritone</div>  <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Mengfei Yang</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Minshu Zhan</div> <div class="col-sm-4">Mezzo</div> <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Tiffany Lin</div> <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Yota Kato</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2012</div>
<div class="col-sm-4">Danny Chiao</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Fall 2012</div>
<div class="col-sm-4">George Cheng</div>  <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Fall 2012</div>
<div class="col-sm-4">Jimmy Liu</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Fall 2012</div>
<div class="col-sm-4">Jeanne Yu</div> <div class="col-sm-4">Mezzo</div> <div class="col-sm-4">Spring 2013</div>
<div class="col-sm-4">June Park</div> <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2013</div>
<div class="col-sm-4">Kyumin Lee</div>  <div class="col-sm-4">Baritone</div>  <div class="col-sm-4">Spring 2013</div>
<div class="col-sm-4">Max (Chung-an) Wu</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2013</div>
<div class="col-sm-4">Michael (Chu-Lan) Kao</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Fall 2013</div>
<div class="col-sm-4">Michelle Suh</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Fall 2013</div>
<div class="col-sm-4">Jenny Wu</div>  <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2014</div>
<div class="col-sm-4">Pavika (PJ) Buddhari</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2014</div>
<div class="col-sm-4">Jeffrey Sun</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2015</div>
<div class="col-sm-4">Michael Choi</div>  <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2015</div>
<div class="col-sm-4">Roxy (Jiaqi) Wang</div> <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2015</div>
<div class="col-sm-4">Tina Chen</div> <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2015</div>
<div class="col-sm-4">Ami Suzuki</div>  <div class="col-sm-4">Mezzo</div> <div class="col-sm-4">Fall 2015</div>
<div class="col-sm-4">Andy Tsai</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Fall 2015</div>
<div class="col-sm-4">Thom Lu</div> <div class="col-sm-4">Baritone</div>  <div class="col-sm-4">Fall 2015</div>
<div class="col-sm-4">Chiheon Kim</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2016</div>
<div class="col-sm-4">Jay Park</div>  <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2016</div>
<div class="col-sm-4">Nick Wu</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2016</div>
<div class="col-sm-4">Rujia Zha</div> <div class="col-sm-4">Mezzo</div> <div class="col-sm-4">Spring 2016</div>
<div class="col-sm-4">Teresa Lin</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2016</div>
<div class="col-sm-4">Tiffany Wong</div>  <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2016</div>
<div class="col-sm-4">George Du</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Fall 2016</div>
<div class="col-sm-4">Jenny Liu</div> <div class="col-sm-4">Mezzo</div> <div class="col-sm-4">Fall 2016</div>
<div class="col-sm-4">Long Nguyen</div> <div class="col-sm-4">Baritone</div>  <div class="col-sm-4">Fall 2016</div>
<div class="col-sm-4">Crystal Chang</div> <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2017</div>
<div class="col-sm-4">Dou Dou</div> <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2017</div>
<div class="col-sm-4">Eric Chen</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2017</div>
<div class="col-sm-4">Priyanka Satpute</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Spring 2017</div>
<div class="col-sm-4">Raymond Liu</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2017</div>
<div class="col-sm-4">Alyssa Chen</div> <div class="col-sm-4">Mezzo</div> <div class="col-sm-4">Fall 2017</div>
<div class="col-sm-4">Jessica Yu</div>  <div class="col-sm-4">Alto</div>  <div class="col-sm-4">Fall 2017</div>
<div class="col-sm-4">Brian Zhong</div> <div class="col-sm-4">Bass</div>  <div class="col-sm-4">Spring 2018</div>
<div class="col-sm-4">Carolyn Lu</div>  <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2018</div>
<div class="col-sm-4">Catheryn Li</div> <div class="col-sm-4">Mezzo</div> <div class="col-sm-4">Spring 2018</div>
<div class="col-sm-4">Xueqi Zhang</div> <div class="col-sm-4">Soprano</div> <div class="col-sm-4">Spring 2018</div>
<div class="col-sm-4">Alex Chen</div> <div class="col-sm-4">Baritone</div>  <div class="col-sm-4">Spring 2019</div>
<div class="col-sm-4">Tianyi Zeng</div> <div class="col-sm-4">Tenor</div> <div class="col-sm-4">Spring 2019</div>

  </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/static/js/member_modal.js"></script>
<script>
  var pic = document.getElementById("group-photo-image");
  pic.src = '/static/img/carousel/website_7.jpg';//website_7, make it so that it goes back when you nav away
  </script>

