<div class="text-blurb">

  <h1>Meet our Alums!</h1><br>
    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/brian_zhong.jpg"></img></div>
      <div class="colR">
        <h4>Brian Zhong (2018): Production Chair, Co-Music Director</h4>
        <b>Hometown</b>: San Ramon, CA
        <br><b>Major</b>: Course X (Chemical Engineering)
        <br><b>Vocal Part</b>: Baritone
        <br>"I like romcoms, soccer, and coffee ice cream."
      </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/static/js/member_modal.js"></script>
<script>
  var pic = document.getElementById("group-photo-image");
  pic.src = '/static/img/carousel/website_7.jpg';//website_7, make it so that it goes back when you nav away
  </script>

