<div class="container-fluid text-blurb">
  <!-- While our fall 2021 audition cycle has concluded, a spring 2022 audition cycle
  is in the works. Check back soon for more information! -->
  <h1>Audition Information</h1>
  <p>
    Here’s your chance to join our family of fun-loving and passionate musicians
    who come from all walks of life in the MIT community! First-years,
    upperclassmen, transfer students, and graduate students are all welcome to
    audition. Information about our Spring 2022 auditions is below:
  </p>
  <ul>
    <li>
      <b>WHEN:</b> Friday, 2/4 (6 PM - 9 PM) & Saturday, 2/5 (11 AM - 1 PM, 2 PM
      - 5:30 PM, 6:30 PM - 9 PM)
    </li>
    <!--<li><b>WHERE:</b>TBD</a></li>-->
    <li>
      <b>WHERE:</b>
      <a href="https://whereis.mit.edu/?go=4">4-270</a>
    </li>
    <li>
      <b>AUDITION PROCESS:</b> Please prepare a verse and chorus from any song
      of your choice (you are welcome to sing in any language you'd like,
      including non-Asian languages!) The audition will begin with a few warm-up
      techniques before your prepared song. After your song, you may be asked to
      complete a sight-singing excerpt. The whole process should take ~10
      minutes c: Additionally, please see below for some special COVID protocols
      we are taking this year.
    </li>
    <li>
      <b>SIGN UP:</b> Fill out
      <a href="https://forms.gle/VujVybNwX3Sym3DA7" target="_blank"
        >this form</a
      >
      to reserve a slot. Walk-ins are also welcome!
    </li>
    <li>
      <b>QUESTIONS:</b> Email
      <a href="mailto:syncopasian@mit.edu" target="_blank"
        >syncopasian@mit.edu</a
      >
      if you have a time conflict with auditions or have any questions/concerns
      (including those related to COVID-19 – see below). Our goal is to make the
      audition process as smooth as possible for you, so definitely let us know
      if you need any accomodations!
    </li>
  </ul>

  <h2>Our COVID-19 Protocols</h2>

  <p>
    Syncopasian will be implementing seveal special policies this audition cycle
    as precautions against the spread of COVID-19. Consistent with MIT's
    <a href="https://now.mit.edu/policies/updated-face-covering-policy/"
      >indoor face covering policy</a
    >, auditionees and members of Synco will be asked to wear masks at all times
    during the audition process (including while singing), auditions will be
    held in a large room with good ventilation, and time will be taken between
    audition slots to air out the audition room.
  </p>

  <h2>Callbacks</h2>
  Based on your first-round audition, you may be invited to a second (and final)
  round of <b>callback auditions</b>, which will take place on Sunday, 2/6.
  During callbacks, you'll learn excerpts from previous Synco arrangements and
  rehearse it with members of Synco, as well as other auditionees. Feel free to
  email us at
  <a href="mailto:syncopasian@mit.edu" target="_blank">syncopasian@mit.edu</a>
  if you have any questions!

  <!-- <br> -->
  <hr />
  <h1>Frequently Asked Questions</h1>
  <ul>
    <li>
      "What song should I sing?" -- Pick a song that you like and suits your
      singing style. Don't feel pressured to audition with a song just because
      you think we'll like it. If you're enjoying it, we'll enjoy it too!
    </li>

    <li>
      "What if I don't speak an Asian language?" -- Identifying as
      Asian/speaking an Asian language is neither a requirement nor a
      consideration in our audition process. We welcome people of all identities
      and backgrounds!
    </li>

    <li>
      "But I've never sung before!" -- No experience is necessary to join our
      group. Many of our members have never sung in public or had vocal training
      before coming to MIT, so we hope that encourages you to try auditioning!
    </li>

    <li>
      "How many people will you be taking?" -- Though the group usually is
      around 15 people, Syncopasian doesn't have caps or quotas. Our audition
      decisions any given year are entirely a function of the auditionees and
      how they fit within the group, and not things like total size of the
      group.
    </li>

    <li>
      "I'm really nervous about my audition. *~* " -- Try to relax beforehand!
      Auditions can be scary but we're super excited to hear your voice! Feel
      free to ask us questions throughout the audition if you're confused about
      something. We don't bite :)
    </li>

    <li>
      "I can't make auditions, what should I do?" -- Contact us at
      syncopasian@mit.edu and we'll try to work something out!
    </li>
  </ul>
  Can't wait to meet all of you!!!
</div>

<script>
  document.getElementById("group-photo-image").src =
    "/static/img/carousel/website_3.jpg";
</script>
