<div class="container-fluid text-blurb">
   <b>Welcome to MIT Syncopasian!</b>
  <br>
  Here’s your chance to join our family of fun-loving and passionate musicians who come from all walks of life in the MIT community! Incoming first-years, upperclassmen, transfer students, and graduate students are all welcome to audition. Information about our Fall 2019 Auditions is below:
  <ul>
  	<li>WHEN: Friday, 8/30 (6pm-9pm) & Saturday, 8/31 (10am-9pm)</li>
  	<li>WHERE: Room 4-162</li>
    
  	<li>AUDITION PROCESS: Please prepare a verse and chorus from a song of your choice (English or any language is fine!). The audition starts with a few warm-up techniques, and then after the song, you may be asked to complete a sight-singing excerpt.</li>

    <li>SIGN UP:  Sign up for a 10-minute audition here:<a href=" https://tinyurl.com/synco2019">here</a>. We also accept walk-ins, but you may have to wait for an open time slot. </li>

    <li>QUESTIONS?: E-mail <a href="mailto:syncopasian@mit.edu" target="_blank">syncopasian@mit.edu</a> if you have a time conflict with auditions or have any questions/concerns. Our goal is to make the audition process as smooth as possible for you! </li>  
  </ul>
  <br>
  A few words of advice:
  <ul>
  	<li>“What song should I sing?" -- Pick a song that you like and suits your singing style. Don’t feel pressured to audition with a song just because you think we’ll like it. If you’re enjoying it, we’ll enjoy it too!</li>

  	<li> “What if I don’t speak an Asian language?” -- Identifying as Asian/speaking an Asian language is NOT a requirement nor a consideration in our audition process. We welcome people of all identities and backgrounds. </li>

    <li> “But I’ve never sung in an a cappella group/chorus/vocal ensemble before!” -- No experience is necessary to join our group. Many of our members have never sung in public or had vocal training before coming to MIT, so we hope that encourages you to give the audition a try! </li>

    <li> “I’m really nervous about my audition.” -- Try to relax before hand! Auditions can be scary but we’re super excited to hear your voice! Feel free to ask us questions throughout the audition if you’re confused about something. We don’t bite :) </li>

  </ul>
  <br>
  Can't wait to meet all of you!! 
    
</div>

