<div class="text-blurb u-flex" style="justify-content: space-between; flex-wrap: wrap;">
  <div id="contact-text">
    <h1>Contact Us</h1>
    <p>For booking requests, questions, or any kind of feedback, feel free to reach us at syncopasian@mit.edu .</p>

    <p>To stay up-to-date with Syncopasian through various social media:</p>
    <ul>
      <li>
        <h3 style="padding-left: 30px">Stay up-to-date with our news, announcements, and pretty photos, like our <a href="https://www.facebook.com/MITSyncopasian">Facebook page</a>!</h3>
      </li>
      <li>
        <h3 style="padding-left: 30px">Follow us on <a href="https://twitter.com/syncopasian">Twitter</a>!</h3>
      </li>
      <li>
        <h3 style="padding-left: 30px">For videos of performances, check out our <a href="https://www.youtube.com/user/MITAsianAcappella">YouTube channel</a>!</h3>
      </li>
      <li>
        <h3 style="padding-left: 30px">For images, check out our <a href="https://www.instagram.com/syncopasian/">Instagram</a>!</h3>
      </li>
      <li>
        <h3 style="padding-left: 30px">Explore our discography on our <a href="https://open.spotify.com/artist/3yXypH5cLXT33MBqvf4cuU">Spotify</a>!</h3>
      </li>
    </ul>
  </div>
  <div id="gig-salad">
    <div id="gigsalad_quote_widget"></div>
  </div>
</div>

<script>
  document.getElementById("group-photo-image").src = '/static/img/carousel/website_5.jpg';
</script>

<script>
  var gscqForm;(function(d,t){var s=d.createElement(t),options={'formKey':'rq-WjS0AI%3AVneRmTa6I%3A0A.mkSW%3AvZzk4l','async':true,'height':'600px','width':'500px'};s.src='//www.gigsalad.com/js/quote_widget.min.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{gscqForm=new GsContactForm();gscqForm.initialize(options);gscqForm.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');
</script>
