<div class="text-blurb">
  <div id="contact-content">
    <div id="contact-text">
      <div id="contact-top">
        <div id="contact-head">CONTACT US</div>
        <div id="contact-links">
          <a href="//www.facebook.com/MITSyncopasian"><img src="//static.wixstatic.com/media/4057345bcf57474b96976284050c00df.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01/4057345bcf57474b96976284050c00df.png"></img></a>
          <a href="//twitter.com/syncopasian"><img src="//static.wixstatic.com/media/870f97661ed14a5bb2d96ecbddec0aed.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01/870f97661ed14a5bb2d96ecbddec0aed.png"></img></a>
          <a href="//www.youtube.com/user/MITAsianAcappella"><img src="//static.wixstatic.com/media/45bce1d726f64f1999c49feae57f6298.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01/45bce1d726f64f1999c49feae57f6298.png"></img></a>
        </div>
      </div>

      <h2>For booking requests, questions, or any kind of feedback, feel free to reach us at syncopasian@mit.edu.</h2>
      <h2>To stay up-to-date with Syncopasian through various social media:</h2>
      <ul>
        <li>
          <h3 style="padding-left: 30px">Stay up-to-date with our news, announcements, and pretty photos, like our <a href="https://www.facebook.com/MITSyncopasian">Facebook page</a>!</h3>
        </li>
        <li>
          <h3 style="padding-left: 30px">Follow us on <a href="https://twitter.com/syncopasian">Twitter</a>!</h3>
        </li>
        <li>
          <h3 style="padding-left: 30px">For videos of performances, check out our <a href="https://www.youtube.com/user/MITAsianAcappella">YouTube channel</a>!</h3>
        </li>
        <li>
          <h3 style="padding-left: 30px">For images, check out our <a href="https://www.instagram.com/syncopasian/">Instagram</a>!</h3>
        </li>
      </ul>
    </div>
    <div id="gig-salad">
      <div id="gigsalad_quote_widget"></div>
    </div>
  </div>
</div>

<script>
  document.getElementById("group-photo-image").src = '/static/img/carousel/website_5.jpg';
</script>

<script>
  var gscqForm;(function(d,t){var s=d.createElement(t),options={'formKey':'rq-WjS0AI%3AVneRmTa6I%3A0A.mkSW%3AvZzk4l','async':true,'height':'600px','width':'500px'};s.src='//www.gigsalad.com/js/quote_widget.min.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{gscqForm=new GsContactForm();gscqForm.initialize(options);gscqForm.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');
</script>

