<div class="text-blurb" id="memberphotos" style="max-width: 960px">
  <!-- <h1>Meet our Synco-babies (newest members)!</h1><br> -->
  <!-- <h1>Say hello to our returning members!</h1><br> -->
  <h1>Say hello to our members!</h1>
  <br>
  <!-- <br> -->
  <div class="bios-container u-flexColumn">
    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/melody_phu.jpg"></img></div>
      <div class="colR" min-width=100px>
        <h2>Melody Phu (2021): Stage Director</h2>
        <b>Hometown</b>: Sudbury, MA
        <br><b>Major</b>: Course 6-3 (Computer Science)
        <br><b>Vocal Part</b>: Alto
        <br><b>Featured Songs</b>: Sayonara, Loser, Dream High, I Need U, Brother, Me and My Broken Heart, Boy with Luv
        <br><b>Arrangements: </b> Brother
        <br>"Outside of class and Synco rehearsals, Melody can be found napping, belting the lyrics to Bohemian Rhapsody, and proclaiming her love for durian to everyone."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/rachel_zhang.jpg"></img></div>
      <div class="colR">
        <h2>Rachel Zhang (2021): Concert Chair</h2>
        <b>Hometown</b>: Las Vegas, NV
        <br><b>Major</b>: Course 8 (Physics)
        <br><b>Vocal Part</b>: Mezzo
        <br><b>Featured Songs</b>: Yellow
        <br>"One of Rachel's best memories of Synco was when Justin Park uttered the words 'not in drive'.”
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/justin_park.jpg"></img></div>
      <div class="colR">
        <h2>Justin Park (2022): Music Director, Treasurer</h2>
        <b>Hometown</b>: Rockville, MD
        <br><b>Major</b>: Course 18 (Mathematics)
        <br><b>Vocal Part</b>: Bass, VP
        <br><b>Featured Songs</b>: On Rainy Days, We Don't Talk Anymore / Chúng Ta Không Thuộc Về Nhau, Oblivion
        <br><b>Arrangements: </b> Moon, Me and My Broken Heart, Paper Love, We Don't Talk Anymore / Chúng Ta Không Thuộc Về Nhau, Boy with Luv
        <br>"Justin has made it this far by pretending he knows what he's doing, and he has no plans to change his strategy."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/daniel_liu.jpg"></img></div>
      <div class="colR">
        <h2>Daniel Liu (2022): Music Director</h2>
        <b>Hometown</b>: Redmond, WA
        <br><b>Major</b>: Course 18 (Mathematics)
        <br><b>Vocal Part</b>: Baritone, VP
        <br><b>Featured Songs</b>: Kotoba No Iranai Yakusoku, 11 Minutes
        <br>"Likes to juggle everything except work and responsibility."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/janice_yang.jpg"></img></div>
      <div class="colR">
        <h2>Janice Yang (2022): Stage Director, Social Chair</h2>
        <b>Hometown</b>: Taipei, Taiwan
        <br><b>Major</b>: Course 6-14 (Computer Science, Economics, and Data Science)
        <br><b>Vocal Part</b>: Soprano
        <br><b>Featured Songs</b>: Together, 11 Minutes, Paper Love
        <br> "Janice wants to read more, dance more, and have more deep, authentic, and satisfying conversations."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/derek_yen.jpg "></img></div>
      <div class="colR" min-width=100px>
        <h2>Derek Yen (2022): Publicity Chair, Webmaster</h2>
        <b>Hometown</b>: Fremont, CA
        <br><b>Major</b>: Course 24-2 (Linguistics) & Course 6-3 (Computer Science)
        <br><b>Vocal Part</b>: Baritone
        <br><b> Featured Songs</b>: Doraemon
        <br>"Derek can be heard at Next House late at night singing in a wide variety of languages he doesn't understand."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/sirena_yu.jpg "></img></div>
      <div class="colR" min-width=100px>
        <h2> Sirena Yu (2023): President</h2>
        <b>Hometown</b>: Shenzhen, China
        <br><b>Major</b>: Course 18 (Mathematics)
        <br><b>Vocal Part</b>: Mezzo
        <br><b> Featured Songs</b>: Hui Jia
        <br>"Sirena loves to sing. Other than singing, she also enjoys reading mystery novels, learning Japanese, and watching YouTube videos (mostly Safiya Nyagaard and Twoset Violin)."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/aslan_cook.jpg "></img></div>
      <div class="colR" min-width=100px>
        <h2>Aslan Cook (2023): Social Chair, Production Chair</h2>
        <b>Hometown</b>: Manoa, HI
        <br><b>Major</b>: Course 7 (Biology)
        <br><b>Vocal Part</b>: Soprano
        <br><b> Featured Songs</b>: Oblivion
        <br>"Aslan is 155cm tall and happy to be here! She can be found singing in stairwells or staring at cool bugs."
      </div>
    </div>

  </div>
  <h2> Also check out our group's amazing alumni <a href="/#/alumni">here</a>! </h2>
  <hr>
  <p>Professional head shots provided by Johnny Bui Photography.</p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/static/js/member_modal.js"></script>

<script>
  document.getElementById("group-photo-image").src = '/static/img/carousel/website_9.jpg';
</script>