<div class="text-blurb">
<!--  <h1>Meet our Synco-babies (newest members)!</h1><br>-->

<!--
  <h1>Say hello to our returning members!</h1><br>
-->

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/tc_qin.jpg"></img></div>
      <div class="colR">
        <h4>Tiancheng "TC" Qin (2020): President</h4>
        <b>Hometown</b>: Fremont, CA
        <br><b>Major</b>: Course VI & XVIII (Computer Science and Mathematics)
        <br><b>Vocal Part</b>: Bass
        <br>"Besides singing, TC loves to play poker and throw frisbee. He also enjoys getting boba with his friends and working on math puzzles."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/daniel_whatley.jpg"></img></div>
      <div class="colR">
        <h4>Daniel Whatley (2020): Music Director</h4>
        <b>Hometown</b>: Houston, TX
        <br><b>Major</b>: Course VI (Computer Science)
        <br><b>Vocal Part</b>: Baritone
          <br><b>Featured Songs</b>: ZenZenZense
        <br>"Daniel brings much diversity to the group by being the only half-Asian. He is also secretly a soprano."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/emily_hu.jpg"></img></div>
      <div class="colR">
        <h4>Emily Hu (2020): Music Director, Production Chair</h4>
        <b>Hometown</b>: Denton, TX
        <br><b>Major</b>: Course VI (Computer Science)
        <br><b>Vocal Part</b>: Mezzo, Percussion
        <br>"Emily lives in #nexthousebesthouse. You can usually hear her singing before you see her. She enjoys stealing guitars and drinking boba."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/chenkai_mao.jpg"></img></div>
      <div class="colR">
        <h4>Kevin (Chenkai) Mao (2020): Treasurer</h4>
        <b>Hometown</b>: Hangzhou, China
        <br><b>Major</b>: Course VIII (Physics)
        <br><b>Vocal Part</b>: Tenor
        <br> "Besides accapella, Kevin loves all kinds of sports, including basketball, soccer, tennis, skating and snowboarding. He's confident that no one defeats him in ping-pong."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/alex_chen.jpg"></img></div>
      <div class="colR" min-width=100px>
        <h4>Alex Chen (2019): Social Chair, Stage Director</h4>
        <b>Hometown</b>: Davis, CA
        <br><b>Major</b>: Course VI (Electrical Engineering and Computer Science)
        <br><b>Featured Songs</b>: Hair Part
        <br><b>Vocal Part</b>: Baritone
        <br>":D"
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/melody_phu.jpg"></img></div>
      <div class="colR" min-width=100px>
        <h4>Melody Phu (2021): Stage Director, Concert Chair</h4>
        <b>Hometown</b>: Sudbury, MA
        <br><b>Major</b>: VI (Computer Science and Economics)
        <br><b>Featured Songs</b>: Sayonara, Dream High
        <br><b>Vocal Part</b>: Alto/Tenor
        <br>"Outside of class and Synco rehearsals, Melody can be found making spreadsheets in the Sponge, belting the lyrics to Bohemian Rhapsody, and proclaiming her love for durian and bubble tea. She is also an avid fan of wombats and other marsupial species."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/shannon_hwang.jpg"></img></div>
      <div class="colR">
        <h4>Shannon Hwang (2020): Social Chair</h4>
        <b>Hometown</b>: Cupertino, CA
        <br><b>Major</b>: Course VI (Computer Science)
        <br><b>Vocal Part</b>: Mezzo
        <br>"likes trivia and chill times. prone to snaccidents."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/madeline_zhang.jpg"></img></div>
      <div class="colR">
        <h4>Madeline "Maddy" Zhang (2020): Publicity Chair</h4>
        <b>Hometown</b>: Albany, CA
        <br><b>Major</b>: Course VI (Computer Science)
        <br><b>Vocal Part</b>: Soprano
        <br>"Did you know that Madeline began her evolution 20 million years ago in the South China Sea? At the time, she was nothing like the Madeline we are familiar with today. For thousands of years, she was allowed to grow wild and was most likely a hard, inedible fruit. Over time, and travel, Madeline not only became edible but a precious soprano commodity as choral music developed. It is thought that on his second voyage to the New World in 1493, Christopher Columbus landed in the Grand Canary Island where he purchased, among other things, Madeline seeds. While establishing a colony in 1493, he formed orchards in Hispaniola. As a result, the Singing Gardens of Madeline were established in Haiti and San Salvadore. In 1513, Madelines were introduced to Florida by Ponce De Leon, to California in 1769, and in the 1880′s to Texas by early Spanish missionaries. The first commercial recording of Madeline was made in 1921."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/rachel_zhang.png"></img></div>
      <div class="colR">
        <h4>Rachel Zhang (2021): Publicity Chair</h4>
        <b>Hometown</b>: Las Vegas, NV
        <br><b>Major</b>: Course VIII (Physics)
        <br><b>Vocal Part</b>: Mezzo
        <br>"*insert witty music joke here*"
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/chris_chang.jpg"></img></div>
      <div class="colR" min-width=100px>
        <h4>Chris Chang (2021): Webmaster</h4>
        <b>Hometown</b>: Cupertino, CA
        <br><b>Major</b>: Course VI (Computer Science)
        <br><b>Vocal Part</b>: Tenor
        <br>"As one of the biggest tenors in the history of a capella (lol), Chris brings lots of energy and a love for bunnies and all things lavender. Melody may or may not have written this."
      </div>
    </div>

    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/tianyi_zeng.jpg"></img></div>
      <div class="colR">
        <h4>Tianyi Zeng (Graduate)</h4>
        <b>Hometown</b>: Wuxi, China
        <br><b>Major</b>: Course VI (Electrical Engineering)
        <br><b>Vocal Part</b>: Tenor
        <br><b>Featured Songs</b>: Ni Bu Zhi Dao De Shi, Blue Tomorrow, Blood Sweat and Tears
        <br>"Secretly a ninja who pretends to be a grad student. Currently trying to use ninjutsu and quantum physics to explore the ultimate Ramen recipe to achieve world peace. Secretly known for his creation of Ramen Burger which can make you possess super powers for a short while. Willing to trade the recipe for Cape Cod chips."
      </div>
    </div>

<!--
    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/alyssa_chen.jpg"></img></div>
      <div class="colR">
        <h4>Alyssa Chen (2019): Stage Director</h4>
        <b>Hometown</b>: Dallas, TX
        <br><b>Major</b>: Course VI-VII (Computer Science and Molecular Biology)
        <br><b>Featured Songs</b>: Reach Out Richard
        <br><b>Vocal Part</b>: Mezzo
        <br>"Alyssa is an Asian girl."
      </div>
    </div>
-->
<!--     <div class="member-bio">
      <div class="colL"><img src="/static/img/members/brian_zhong.jpg"></img></div>
      <div class="colR">
        <h4>Brian Zhong (2018): Production Chair</h4>
        <b>Hometown</b>: San Ramon, CA
        <br><b>Major</b>: Course X (Chemical Engineering)
        <br><b>Featured Songs</b>: Mr. Brightside, Would We Have Changed, Blue Tomorrow
        <br><b>Vocal Part</b>: Baritone
        <br>"I like romcoms, soccer, and coffee ice cream."
      </div>
    </div> -->

<!--     <div class="member-bio">
      <div class="colL"><img src="/static/img/members/carolyn_lu.jpg"></img></div>
      <div class="colR">
        <h4>Carolyn Lu (2018): Music Director</h4>
        <b>Hometown</b>: Carlisle, MA
        <br><b>Major</b>: Course VI (Electrical Engineering and Computer Science)
        <br><b>Vocal Part</b>: Soprano
        <br><b>Featured Songs</b>: Lost Taipei, Give Heart Back to Music, Hikaru Nara, Masayume Chasing, Rooting For You, Blood Sweat and Tears
        <br>"Carolyn plays many roles in Syncopasian. Besides being the resident angelic soprano and erhu impressionist, Carolyn is responsible for making the Syncos move their bodies in interesting ways. Sometimes she overestimates the strength of an average Synco’s quad muscles."
      </div>
   </div>
<div class="member-bio">
      <div class="colL"><img src="/static/img/members/catheryn_li.jpg"></img></div>
      <div class="colR">
        <h4>Catheryn Li (2018): Social Chair</h4>
        <b>Hometown</b>: Albany, CA
        <br><b>Major</b>: Course VI (Electrical Engineering and Computer Science) and Course IX (Brain and Cognitive Sciences)
        <br><b>Vocal Part</b>: Alto / Mezzo
        <br><b>Featured Songs</b>: Dream High, Houki Boshi, Dis
        <br>"Catheryn likes to sing, eat, and sleep. She is often spotted deep in her lair at Next House pretending to be productive, but she’s generally willing to emerge for a discussion about cute animals, a free boba-giveaway, or a game of Catan."
      </div>
    </div> -->




<!--        <div class="member-bio">
      <div class="colL"><img src="/static/img/members/jessica_yu.jpg"></img></div>
      <div class="colR">
        <h4>Jessica Yu (2019): Concert Chair</h4>
        <b>Hometown</b>: Austin, TX
        <br><b>Major</b>: Undecided
        <br><b>Vocal Part</b>: Alto
        <br><b>Featured Songs</b>: Love Never Felt So Good, Gravity, I Will Show You
        <br>"Jessica was very vocal in her early childhood and became an alto/bass circa 2001. However, it worked out kinda, and she grew up to join a wonderful a cappella group :D Jessica spends most of her time singing and being down to explore Boston, but occasionally she codes some things too."
      </div>
    </div> -->


    
<!--     <div class="member-bio">
      <div class="colL"><img src="/static/img/members/eric_chen.jpg"></img></div>
      <div class="colR">
        <h4>Eric Chen (2017)</h4>
        <b>Hometown</b>: Des Moines, IA
        <br><b>Major</b>: Course VI (Electrical Engineering and Computer Science)
        <br><b>Vocal Part</b>: Baritone
        <br><b>Feature Songs</b>: Shi Jian Dou Qu Na Er Le
        <br>"The way to Eric’s heart: saw through the sternum, expose the beating muscle, put the sternum back together (careful with all of those bony fragments!), then stitch up the skin. Lastly, don’t forget the anesthesia."
      </div>
    </div> -->
 <!--    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/dou_dou.jpg"></img></div>
      <div class="colR">
        <h4>Dou Dou (2017): Co-Stage Director</h4>
        <b>Hometown</b>: Guangzhou, China
        <br><b>Major</b>: Course II & XV (Mechanical Engineering and Management)
        <br><b>Vocal Part</b>: Alto
        <br><b>Featured Songs</b>: Cao Cao, Jiang Nan, Wo De Ge Sheng Li, Can’t Let You 
        <br>"Dou Dou is an engineer by training but an artist by heart. She learned quite a few party skills but unfortunately none of the british accent during her exchange in the other Cambridge (England) last year. She is super excited to return to Synco, and refuses to graduate arguably because she loves Synco too much to leave. She also loves to write songs and hopes to become an original artist one day."
      </div>
    </div>
    <div class="member-bio">
      <div class="colL"><img src="/static/img/members/raymond_liu.jpg"></img></div>
      <div class="colR">
        <h4>Raymond Liu (2017): Co-Social Chair</h4>
        <b>Hometown</b>: Fremont, CA
        <br><b>Major</b>: Course XX (Biological Engineering)
        <br><b>Vocal Part</b>: Tenor / Vocal Percussion
        <br><b>Featured Songs:</b>: Don't Wanna Miss a Thing, Love Should Go On, Dream High
        <br>"In the infinity of life, where I am, all is perfect, whole, and complete. I am always divinely protected and guided– it is safe to look within myself."
     </div>
   </div> -->

   <!-- <div class="member-bio">
      <div class="colL"><img src="/static/img/members/priyanka_satpute.jpg"></img></div>
      <div class="colR">
        <h4>Priyanka Satpute (2017): Archive Chair, Co-Social Chair</h4>
        <b>Hometown</b>: Nashua, NH
        <br><b>Major</b>: Course X (Chemical Engineering)
        <br><b>Vocal Part</b>: Alto / Soprano / Vocal Percussion
        <br><b>Featured Songs</b>: Dream, Kiss Me, 200%
        <br>"\"Sweet dreams are made of cheese–who am I to dis a brie??\" –Feta Wap"
      </div>
   </div> -->

Professional head shots provided by Joseph Lee Photography.
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/static/js/member_modal.js"></script>

