<div class="text-blurb u-flex" style="justify-content: space-between; flex-wrap: wrap;">
  <div style="margin-right: 20px; width: 63%;">
    <h1>Our Music</h1>
    <p>Syncopasian has released four albums:</p>
    <ul>
      <li><cite>Syncopasian</cite> (2011)</li>
      <li><cite>Ignition</cite> (2013)</li> <!--this is the correct date — the 2011 release date on Bandcamp is incorrect, and appears to have resulted from some confusion with Syncopasian-->
      <li><cite>Ascension</cite> (2017)</li>
      <li><cite>Intersection</cite> (2021)</li>
    </ul>

    <p>Recent repertoire:</p>
    <ul>
      <li><cite>Spider</cite> - Hoshi</li>
      <li><cite>Good Things Fall Apart</cite> - Illenium</li>
      <li><cite>Haru No Tonari</cite> (はるのとなり) - Eri Sasaki</li>
      <li><cite>One Day More</cite> — Claude-Michel Schönberg (from Les Misérables)</li>
      <li><cite>Attack On Titan Medley</cite> — Linked Horizon, Yoshiki, Shinsei Kamattechan</li>
      <li><cite>Galactic Repairman</cite> (銀河修理員)— Dear Jane</li>
      <li><cite>A Little Happiness</cite> (小幸运) — Hebe Tian</li>
      <li><cite>I Will Show You</cite> - Ailee</li>
    </ul>
  </div>
  
  <div style="width: 33%; min-width: 300px;">
    <!-- defaults: outer div has width 35%; min width 300px, inner iframe has width 100% height 380px-->
    <iframe src="https://open.spotify.com/embed/artist/3yXypH5cLXT33MBqvf4cuU" style="border: 0; width: 100%; height: 440px;" allowfullscreen allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>

<script>
  document.getElementById("group-photo-image").src = '/static/img/carousel/website_8.jpg';
</script>