<div class="text-blurb u-flex" style="justify-content: space-between; flex-wrap: wrap;">
  <div style="margin-right: 20px; width: 63%;">
    <h1>Our Music</h1>
    <p>Syncopasian has released five albums:</p>
    <ul>
      <li><cite>Syncopasian</cite> (2011)</li>
      <li><cite>Ignition</cite> (2013)</li> <!--this is the correct date — the 2011 release date on Bandcamp is incorrect, and appears to have resulted from some confusion with Syncopasian-->
      <li><cite>Ascension</cite> (2017)</li>
      <li><cite>Intersection</cite> (2021)</li>
      <li><cite>Quiescence</cite> (2023)</li>
    </ul>

    <p>Recent repertoire:</p>
    <ul>
      <li><cite>D (Half Moon)</cite> - Dean</li>
      <li><cite>Phoenix</cite> - Riot Music Team</li>
      <li><cite>Betelgeuse</cite> (ベテルギウス) - Yuuri</li>
      <li><cite>Monster</cite> (怪物) — YOASOBI apb. 鈴木雅之</li>
      <li><cite>Empty</cite> (공허해)— Winner</li>
      <li><cite>A Cruel Angel's Thesis</cite> (残酷な天使のテーゼ) — Yoko Takahashi</li>
      <li><cite>City Zoo</cite> (摩天动物园) — G.E.M.</li>
    </ul>
  </div>
  
  <div style="width: 33%; min-width: 300px;">
    <!-- defaults: outer div has width 35%; min width 300px, inner iframe has width 100% height 380px-->
    <iframe src="https://open.spotify.com/embed/artist/3yXypH5cLXT33MBqvf4cuU" style="border: 0; width: 100%; height: 440px;" allowfullscreen allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>

<script>
  document.getElementById("group-photo-image").src = '/static/img/carousel/website_8.jpg';
</script>