<div class="text-blurb u-flex" style="justify-content: space-between; flex-wrap: wrap;">
  <div style="margin-right: 20px; width: 63%;">
    <h1>Our Music</h1>
    <p>Syncopasian has released three albums:</p>
    <ul>
      <li><cite>Syncopasian</cite> (2011)</li> <!--which has yet to be digitally released-->
      <li><cite>Ignition</cite> (2013)</li> <!--this is the correct date — the 2011 release date on Bandcamp is incorrect, and appears to have resulted from some confusion with Syncopasian-->
      <li><cite>Ascension</cite> (2017)</li>
    </ul>

    <p>Recent repertoire:</p>
    <ul>
      <li><cite>Yellow</cite> (流行) — Coldplay, Katherine Ho</li>
      <li><cite>Boy With Luv</cite> (작은 것들을 위한 시) — BTS feat. Halsey</li>
      <li><cite>Doraemon</cite> (ドラえもん) — Gen Hoshino</li>
      <li><cite>Moon</cite> — Jonghyun</li>
      <li><cite>Oblivion</cite> — Bastille</li>
      <li><cite>Paper Love</cite> — Allie X</li>
      <li><cite>Brother</cite> — Kodaline</li>
      <li><cite>Wo De Ge Sheng Li</cite> (我的歌声里) — Wanting Qu</li>
    </ul>
  </div>
  
  <div style="width: 33%; min-width: 300px;">
    <!-- defaults: outer div has width 35%; min width 300px, inner iframe has width 100% height 380px-->
    <iframe src="https://open.spotify.com/embed/artist/3yXypH5cLXT33MBqvf4cuU" style="border: 0; width: 100%; height: 440px;" allowfullscreen allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>

<script>
  document.getElementById("group-photo-image").src = '/static/img/carousel/website_8.jpg';
</script>