<div class="center">
  <iframe style="border: 0; width: 350px; height: 621px;" src="https://bandcamp.com/EmbeddedPlayer/album=8527465/size=large/bgcol=ffffff/linkcol=63b2cc/transparent=true/" width="300" height="150" seamless=""><a href="http://syncopasian.bandcamp.com/album/ignition">Ignition by MIT Syncopasian</a></iframe>
  
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL17JfE9srjh8AnWSRQArXi4N-dV--zc9B" frameborder="0" allowfullscreen></iframe>
</div>

