<html>
  <head>
    <title>MIT Syncopasian</title>
    <meta name="description" content="MIT's premier East Asian a cappella group">
    <meta name="keywords" content="MIT, Syncopasian, East Asian, a cappella, singing">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/static/img/logo_new.png"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
    <script src="/static/js/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Poiret+One|Quicksand|Raleway|Sacramento|Open+Sans+Condensed:300|Abel|Open+Sans+Condensed:300|Yanone+Kaffeesatz:200|Dosis:200|Marvel|Advent+Pro:300|Khula:300|Josefin+Sans:300|Montserrat:200" rel="stylesheet">
  </head>

  <body ng-app="syncopasian">
    <div id="page">
        <!-- Brand and toggle get grouped for better mobile display -->
    <!--<nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
	</nav>-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar">
            <a href="#/home" class="index-page"><img src="/static/img/synco_logo.png" height="55px" style="padding-top: 3px;"></img></a>
          <span class="my-nav">
              <a href="#/about"><div id="about-link" class="my-nav-btn content-page">About</div></a>
           	<span class="dropdown">
							<a href="#/current-members"><div id="members-link" class="my-nav-btn content-page">Members <!--&nbsp<span class="caret"></span>--></div></a>
<!--              	<div class="dropdown-content">
								<a href="#/current-members" class="content-page my-dropdown">Current</a>
             		<a href="#/alumni" class="content-page my-dropdown">Alumni</a>
							</div> -->
						</span>
              <a href="#/news"><div id="news-link" class="my-nav-btn content-page">News</div></a>
              <a href="#/auditions"><div id="auditions-link" class="my-nav-btn content-page">Auditions</div></a>
              <a href="#/contact"><div id="contact-link" class="my-nav-btn content-page">Contact Us</div></a>
				</span>
    	</div><!-- id="navbar" -->

    <div id="group-photo">
        <div class="narrow-bar"> </div>
        <img src="/static/img/spring2016photoshoot-cropped.jpg" style="width:100%">
        <div class="narrow-bar"> </div>
        <div style="height: 20px"> </div>
    </div>
    <script>
      $(document).ready(function(){
        $(".index-page").click(function () {
          $(".content-page").removeClass("my-nav-active");
          $(".content-page").addClass("my-nav-btn");
          document.getElementById("group-photo").style.display = "none";
        });
          
        $(".content-page").click(function (evt) {
          $(".content-page").removeClass("my-nav-active");
          $(".content-page").addClass("my-nav-btn");
          var target = $(evt.target);
          target.addClass("my-nav-active");
          document.getElementById("group-photo").style.display = "block";
        });
          
        $(".my-dropdown").click(function () {
          $(".content-page").removeClass("my-nav-active");
          $("#members-link").addClass("my-nav-active");
        })
      });
    </script>
    <ui-view></ui-view>
    </div><!-- /.page -->
  </body>
</html>
