<div class="text-blurb">
  <h1>News</h1>
  <p>Notice for Fall 2020: Due to the remote semester, Syncopasian will not be having a Fall 2020 concert or taking gigs.</p>

  <p>(Aug 26, 2020): Stay tuned for a possible album release in the near future!</p>

  <hr>

  <p>Syncopasian's recent music video for <cite>Boy With Luv</cite> by BTS feat. Halsey was featured in an MIT News article. Check it out <a href="https://news.mit.edu/2020/mit-a-cappella-syncopasian-uses-music-get-through-quarantine-together-0522">here!</a></p>
  <div class="youtube-container">
    <iframe src="https://www.youtube.com/embed/mua4z4E9Er4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
