<div class="text-blurb">
  <h1>News</h1>

  <p>To commemorate Asian American and Pacific Islander Heritage month this May and celebrate all that the AAPI community has brought to the United States, Syncopasian has released a very special project years in the making. Our new music video <i>Things We Carry on the Sea</i> is an interpretation of Wang Ping's poem of the same name, conjuring essential facets of the immigrant experience across time and space. To help bring this project to life, eighteen speakers of various Asian/Pacific Islander languages have graciously lent words from their mother tongues, highlighting the rich cultural diversity of the various peoples celebrated this month. Check out the video below!</p>

  <p>We also wish to use this performance to promote a cause that will help tackle systemic problems facing the Asian community in the United States today. To this end, we are fundraising for <a href="https://www.advancingjustice-alc.org/">Asian Americans Advancing Justice — Asian Law Caucus</a>. Please consider <a href="https://www.facebook.com/donate/260119812532564">donating on Facebook here</a>; any contribution will make an impact, whether you donate $5 or $500. Thank you so much!
  </p>

  <div class="youtube-container">
    <iframe src="https://www.youtube.com/embed/rK4BNwXGcbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p>Synco's next album, <cite>Intersection</cite> (2021), is coming out on May 28!</p>

  <!-- <p>Syncopasian's Spring 2021 concert is this Friday, May 14, at 8 pm ET. RSVP <a href="https://fb.me/e/c02HvnM5O">here</a> or check the livestream on <a href="https://www.youtube.com/user/MITAsianAcappella">our YouTube channel</a>!</p> -->

  <!-- <p>Check out Syncopasian's first dance/a cappella cover collab with MIT Asian Dance Team!</p>
  <div class="youtube-container">
    <iframe src="https://www.youtube.com/embed/auhR30BuEsk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>

  <hr>

  <!-- <p>Synco's first two albums, <cite>Syncopasian</cite> (2011) and <cite>Ignition</cite> (2013), have been digitally rereleased in January 2021! The entire Synco discography is now available through modern music streaming services :)</p> -->

  <hr>

  <!-- <p>Synco's recent music video for <cite>Boy With Luv</cite> by BTS feat. Halsey was featured in an MIT News article. Check it out <a href="https://news.mit.edu/2020/mit-a-cappella-syncopasian-uses-music-get-through-quarantine-together-0522">here!</a></p>
  <div class="youtube-container">
    <iframe src="https://www.youtube.com/embed/mua4z4E9Er4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> -->
</div>
