<div class="text-blurb">
  <h1>News</h1>
  <p>Syncopasian's first two albums, <li><cite>Syncopasian</cite> (2011)</li> and <li><cite>Ignition</cite> (2013)</li>, have been digitally rereleased in January 2021! The entire Synco discography is now available through modern music streaming services :)</p>

  <hr>

  <p>Syncopasian's recent music video for <cite>Boy With Luv</cite> by BTS feat. Halsey was featured in an MIT News article. Check it out <a href="https://news.mit.edu/2020/mit-a-cappella-syncopasian-uses-music-get-through-quarantine-together-0522">here!</a></p>
  <div class="youtube-container">
    <iframe src="https://www.youtube.com/embed/mua4z4E9Er4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
